<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
    </head>
    <body>
        <div id="plotDiv"></div>
    </body>
</html>

<script>
    var data = [
        {
            z: {{season_starts}},
            type: 'heatmap',
            colorscale: [[0, 'rgb(0,25,51)'],
[0.083333, 'rgb(0,102,102)'],
[0.16666, 'rgb(0,204,204)'],
[0.24999, 'rgb(0,255,255)'],
[0.3333, 'rgb(255,255,102)'],
[0.4166, 'rgb(255,153,51)'],
[0.4999, 'rgb(255,153,51)'],
[0.58329, 'rgb(255,0,0)'],
[0.6666, 'rgb(204,0,0)'],
[0.74995, 'rgb(204,229,255)'],
[0.83328, 'rgb(102,178,255)'],
[0.9166, 'rgb(0,128,255)'],
[1, 'rgb(0,76,153)']],
        }
    ];

    var layout = {
        yaxis: {autorange: 'reversed'},
        autosize: false,
        width: 1500,
        height: 1500,
    };

    Plotly.newPlot('plotDiv', data, layout).then(function(gd) {
  Plotly.downloadImage(gd, {
    format:'png',
    height: 1000,
    width: 1000,
    filename: "season_start_map"
  })
});

</script>